snippets/ui-table tests.json
[
    {
        "id": "ac287aa5.043fc8",
        "type": "inject",
        "z": "64ff871a.d30708",
        "name": "",
        "topic": "",
        "payload": "[{\"Name\":\"<font color='blue' size='5'><b>Name</b></font>\",\"Age\":\"30\",\"Color\":\"lime\",\"Prog\":70,\"Star\":\"3\"},{\"Name\":\"<i>vSZ</i>\",\"Age\":\"50\",\"Color\":\"dodgerblue\",\"Prog\":\"45\",\"Star\":2,\"Pass\":false,\"web\":\"\"},{\"Name\":\"IoT\",\"Age\":\"40\",\"Color\":\"darkred\",\"Prog\":95,\"Star\":\"5\",\"Pass\":true,\"web\":\"http://nodered.org\"},{\"Name\":\"API\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "1e234441.7df7ac"
            ]
        ]
    },
    {
        "id": "92452c89.08616",
        "type": "inject",
        "z": "64ff871a.d30708",
        "name": "",
        "topic": "",
        "payload": "[{\"Name\":\"<b>Name</b>\",\"Age\":\"30\",\"Color\":\"lime\",\"Prog\":20,\"Star\":\"1\"},{\"Name\":\"<i>vSZ</i>\",\"Age\":\"50\",\"Color\":\"dodgerblue\",\"Prog\":\"80\",\"Star\":4,\"Pass\":true,\"web\":\"\"},{\"Name\":\"IoT\",\"Age\":\"40\",\"Color\":\"red\",\"Prog\":90,\"Star\":\"5\",\"Pass\":true,\"web\":\"http://nodered.org\"},{\"Name\":\"API\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "1e234441.7df7ac"
            ]
        ]
    },
    {
        "id": "1e234441.7df7ac",
        "type": "ui_table",
        "z": "64ff871a.d30708",
        "group": "af5be4bc.a0b878",
        "name": "People",
        "order": 6,
        "width": 13,
        "height": 4,
        "columns": [
            {
                "field": "Name",
                "title": "Who",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Age",
                "title": "Age",
                "width": "40",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Color",
                "title": "",
                "width": "5%",
                "align": "left",
                "formatter": "color",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Star",
                "title": "%",
                "width": "100",
                "align": "left",
                "formatter": "star",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Pass",
                "title": "",
                "width": "5%",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Prog",
                "title": "",
                "width": "80",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "web",
                "title": "URL",
                "width": "",
                "align": "left",
                "formatter": "link",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 380,
        "y": 580,
        "wires": []
    },
    {
        "id": "af5be4bc.a0b878",
        "type": "ui_group",
        "z": "",
        "name": "SmartZone",
        "tab": "8efc8f46.046b3",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": true
    },
    {
        "id": "8efc8f46.046b3",
        "type": "ui_tab",
        "z": "",
        "name": "SmartZone",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]