SmartZone GUI/SmartZone 1.0 GUI.json
[{"id":"a628472.461b4b8","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":190,"y":100,"wires":[["7ba8f5fe.c57fcc"]]},{"id":"8eeaa78a.21c898","type":"http request","z":"64ff871a.d30708","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":100,"wires":[["2cde49b4.0be4a6"]]},{"id":"7ba8f5fe.c57fcc","type":"function","z":"64ff871a.d30708","name":"get service ticket","func":"// global variables and values\n\nglobal.set(\"szAddress\", \"https://vsz-h-sandbox.ruckusdemos.net:8443\");\n//global.set(\"szAddress\", \"https://vsz-e-demo.ruckusdemos.net:8443\");\n//global.set(\"szAddress\", \"https://10.0.0.212:8443\");\n\nvar szAddress = global.get(\"szAddress\");\n\n//API call to get service token\nmsg.url = szAddress.concat(\"/wsg/api/public/v8_1/serviceTicket\");\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nmsg.payload = {\n    \"username\":\"admin\",\n    \"password\":\"^^7222D@rk^^\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["8eeaa78a.21c898"]]},{"id":"2cde49b4.0be4a6","type":"function","z":"64ff871a.d30708","name":"save service ticket","func":"var response = msg.payload;\n\nglobal.set(\"serviceTicket\", response.serviceTicket);\nglobal.set(\"controllerVersion\", response.controllerVersion);\nnode.warn(response.serviceTicket)\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":100,"wires":[[]]},{"id":"f686ba8c.3c2728","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":160,"wires":[["8e5c0ead.4be25"]]},{"id":"8e5c0ead.4be25","type":"function","z":"64ff871a.d30708","name":"get zones","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\n\n//API call to get service token\nvar url = szAddress.concat(\"/wsg/api/public/v8_1/rkszones?serviceTicket=\");\nmsg.url = url.concat(serviceTicket);\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["a1c15a88.a1f2d8"]]},{"id":"a1c15a88.a1f2d8","type":"http request","z":"64ff871a.d30708","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":160,"wires":[["a3f4c86e.b2f888"]]},{"id":"6b2d21c6.d6cd9","type":"ui_table","z":"64ff871a.d30708","group":"af5be4bc.a0b878","name":"Zones","order":1,"width":13,"height":4,"columns":[{"field":"name","title":"ZONE","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1150,"y":160,"wires":[]},{"id":"a3f4c86e.b2f888","type":"function","z":"64ff871a.d30708","name":"get zoneID","func":"global.set(\"zoneID\", msg.payload.list[0].id);\nnode.warn(msg.payload.list[0]);\nmsg.payload = msg.payload.list\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["6b2d21c6.d6cd9"]]},{"id":"177ba7fb.4103c8","type":"ui_switch","z":"64ff871a.d30708","name":"","label":"Enable/Disable WLAN","tooltip":"","group":"af5be4bc.a0b878","order":3,"width":7,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":380,"wires":[["a111b05b.a16c8"]]},{"id":"a111b05b.a16c8","type":"function","z":"64ff871a.d30708","name":"toggle WLAN","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\nvar zoneID = global.get(\"zoneID\")\nvar wlanID = global.get(\"wlanID\")\n\nvar url = szAddress + \"/wsg/api/public/v8_1/rkszones/\" + zoneID + \"/wlans/\" + wlanID + \"?serviceTicket=\" + serviceTicket;\nmsg.url = url;\nnode.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n    \nmsg.method = 'PATCH';\nnode.warn(msg);\nif (msg.payload === true){\n        msg.payload = {\n            \"schedule\": {\n            \"type\": \"AlwaysOn\"}\n            }\n        }\n    else {\n        msg.payload = {\n            \"schedule\": {\n            \"type\": \"AlwaysOff\"}\n        }\n    }\nnode.warn(msg.payload)    ;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["596ef25d.455b5c"]]},{"id":"5adcb039.c8ca4","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":190,"y":220,"wires":[["eefe2830.4c5d48"]]},{"id":"eefe2830.4c5d48","type":"function","z":"64ff871a.d30708","name":"get WLANs","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\nvar zoneID = global.get(\"zoneID\")\n\nvar url = szAddress + \"/wsg/api/public/v8_1/rkszones/\" + zoneID + \"/wlans?serviceTicket=\";\nmsg.url = url.concat(serviceTicket);\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["3f5f3117.bc872e"]]},{"id":"3f5f3117.bc872e","type":"http request","z":"64ff871a.d30708","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":220,"wires":[["e0d59526.ea7fe8"]]},{"id":"4cef373b.4f9e48","type":"ui_table","z":"64ff871a.d30708","group":"af5be4bc.a0b878","name":"WLANs","order":2,"width":13,"height":4,"columns":[{"field":"name","title":"WLAN","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ssid","title":"SSID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1160,"y":220,"wires":[]},{"id":"e0d59526.ea7fe8","type":"function","z":"64ff871a.d30708","name":"get wlanID","func":"global.set(\"wlanID\", msg.payload.list[0].id);\nnode.warn(msg.payload.list[0])\nmsg.payload = msg.payload.list;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["4cef373b.4f9e48"]]},{"id":"fa3e0d24.3f5a2","type":"inject","z":"64ff871a.d30708","name":"Disable","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["a111b05b.a16c8"]]},{"id":"596ef25d.455b5c","type":"http request","z":"64ff871a.d30708","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":440,"wires":[[]]},{"id":"54ef290d.5ff718","type":"inject","z":"64ff871a.d30708","name":"Enable","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["a111b05b.a16c8"]]},{"id":"f40582d0.b1098","type":"comment","z":"64ff871a.d30708","name":"Author: Marcelo Molinari","info":"","x":210,"y":40,"wires":[]},{"id":"f270a745.113348","type":"comment","z":"64ff871a.d30708","name":"SmartZone flows","info":"","x":440,"y":40,"wires":[]},{"id":"8afec46e.9a54d8","type":"comment","z":"64ff871a.d30708","name":"Enable/disable first WLAN","info":"","x":210,"y":320,"wires":[]},{"id":"46047f06.5cc0c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"af5be4bc.a0b878","type":"ui_group","z":"","name":"SmartZone","tab":"8efc8f46.046b3","order":1,"disp":true,"width":13,"collapse":true},{"id":"8efc8f46.046b3","type":"ui_tab","z":"","name":"SmartZone","icon":"dashboard","order":1,"disabled":false,"hidden":false}]