SmartZone GUI/SmartZone 1.1 GUI.json
[{"id":"a628472.461b4b8","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":190,"y":100,"wires":[["7ba8f5fe.c57fcc"]]},{"id":"8eeaa78a.21c898","type":"http request","z":"64ff871a.d30708","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":100,"wires":[["2cde49b4.0be4a6"]]},{"id":"7ba8f5fe.c57fcc","type":"function","z":"64ff871a.d30708","name":"get service ticket","func":"// global variables and values\n\n//global.set(\"szAddress\", \"https://vsz-h-sandbox.ruckusdemos.net:8443\");\n//global.set(\"szAddress\", \"https://vsz-e-demo.ruckusdemos.net:8443\");\nglobal.set(\"szAddress\", \"https://10.0.0.212:8443\");\n\nvar szAddress = global.get(\"szAddress\");\n\n//API call to get service token\nmsg.url = szAddress.concat(\"/wsg/api/public/v8_1/serviceTicket\");\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nmsg.payload = {\n    \"username\":\"admin\",\n//    \"password\":\"^^7222D@rk^^\"}\n      \"password\":\"ruckus123!\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["8eeaa78a.21c898"]]},{"id":"2cde49b4.0be4a6","type":"function","z":"64ff871a.d30708","name":"save service ticket","func":"var response = msg.payload;\n\nglobal.set(\"serviceTicket\", response.serviceTicket);\nglobal.set(\"controllerVersion\", response.controllerVersion);\nnode.warn(response.serviceTicket)\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":100,"wires":[[]]},{"id":"f686ba8c.3c2728","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":160,"wires":[["8e5c0ead.4be25"]]},{"id":"8e5c0ead.4be25","type":"function","z":"64ff871a.d30708","name":"get zones","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\n\n//API call to get service token\nvar url = szAddress.concat(\"/wsg/api/public/v8_1/rkszones?serviceTicket=\");\nmsg.url = url.concat(serviceTicket);\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["a1c15a88.a1f2d8"]]},{"id":"a1c15a88.a1f2d8","type":"http request","z":"64ff871a.d30708","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":160,"wires":[["a3f4c86e.b2f888"]]},{"id":"6b2d21c6.d6cd9","type":"ui_table","z":"64ff871a.d30708","group":"af5be4bc.a0b878","name":"Zones","order":1,"width":13,"height":4,"columns":[{"field":"name","title":"ZONE","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1150,"y":160,"wires":[]},{"id":"a3f4c86e.b2f888","type":"function","z":"64ff871a.d30708","name":"get zoneID","func":"global.set(\"zoneID\", msg.payload.list[0].id);\nnode.warn(msg.payload.list[0]);\nmsg.payload = msg.payload.list\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["6b2d21c6.d6cd9"]]},{"id":"177ba7fb.4103c8","type":"ui_switch","z":"64ff871a.d30708","name":"","label":"Enable/Disable WLAN","tooltip":"","group":"af5be4bc.a0b878","order":4,"width":7,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":520,"wires":[["a111b05b.a16c8"]]},{"id":"a111b05b.a16c8","type":"function","z":"64ff871a.d30708","name":"toggle WLAN","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\nvar zoneID = global.get(\"zoneID\")\nvar wlanID = global.get(\"wlanID\")\n\nvar url = szAddress + \"/wsg/api/public/v8_1/rkszones/\" + zoneID + \"/wlans/\" + wlanID + \"?serviceTicket=\" + serviceTicket;\nmsg.url = url;\nnode.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n    \nmsg.method = 'PATCH';\nnode.warn(msg);\nif (msg.payload === true){\n        msg.payload = {\n            \"schedule\": {\n            \"type\": \"AlwaysOn\"}\n            }\n        }\n    else {\n        msg.payload = {\n            \"schedule\": {\n            \"type\": \"AlwaysOff\"}\n        }\n    }\nnode.warn(msg.payload)    ;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["596ef25d.455b5c"]]},{"id":"5adcb039.c8ca4","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":190,"y":220,"wires":[["eefe2830.4c5d48"]]},{"id":"eefe2830.4c5d48","type":"function","z":"64ff871a.d30708","name":"get WLANs","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\nvar zoneID = global.get(\"zoneID\")\n\nvar url = szAddress + \"/wsg/api/public/v8_1/rkszones/\" + zoneID + \"/wlans?serviceTicket=\";\nmsg.url = url.concat(serviceTicket);\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["3f5f3117.bc872e"]]},{"id":"3f5f3117.bc872e","type":"http request","z":"64ff871a.d30708","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":220,"wires":[["e0d59526.ea7fe8"]]},{"id":"4cef373b.4f9e48","type":"ui_table","z":"64ff871a.d30708","group":"af5be4bc.a0b878","name":"WLANs","order":2,"width":13,"height":4,"columns":[{"field":"name","title":"WLAN","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ssid","title":"SSID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1160,"y":220,"wires":[]},{"id":"e0d59526.ea7fe8","type":"function","z":"64ff871a.d30708","name":"get wlanID","func":"global.set(\"wlanID\", msg.payload.list[0].id);\nnode.warn(msg.payload.list[0])\nmsg.payload = msg.payload.list;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["4cef373b.4f9e48"]]},{"id":"fa3e0d24.3f5a2","type":"inject","z":"64ff871a.d30708","name":"Disable","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":640,"wires":[["a111b05b.a16c8"]]},{"id":"596ef25d.455b5c","type":"http request","z":"64ff871a.d30708","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":580,"wires":[[]]},{"id":"54ef290d.5ff718","type":"inject","z":"64ff871a.d30708","name":"Enable","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["a111b05b.a16c8"]]},{"id":"f40582d0.b1098","type":"comment","z":"64ff871a.d30708","name":"Author: Marcelo Molinari","info":"","x":210,"y":40,"wires":[]},{"id":"f270a745.113348","type":"comment","z":"64ff871a.d30708","name":"SmartZone flows","info":"","x":440,"y":40,"wires":[]},{"id":"8afec46e.9a54d8","type":"comment","z":"64ff871a.d30708","name":"Enable/disable first WLAN","info":"","x":210,"y":460,"wires":[]},{"id":"41f35227.46d08c","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"3","x":190,"y":280,"wires":[["6337ce36.b4176"]]},{"id":"6337ce36.b4176","type":"function","z":"64ff871a.d30708","name":"get WLAN traffic","func":"\nvar szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\");\nvar zoneID = global.get(\"zoneID\");\nvar wlanID = global.get(\"wlanID\");\n//var currrentTime = msg.payload + 26712758;\nvar currrentTime = msg.payload;\n//node.warn(msg.payload);\n\nvar url = szAddress + \"/wsg/api/public/v9_0/trafficAnalysis/line/usage/wlan?serviceTicket=\" + serviceTicket;\nmsg.url = url;\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'};\n\nmsg.payload = {\n    \"filters\": [\n        {\n            \"type\": \"DOMAIN\",\n            \"value\": \"8b2081d5-9662-40d9-a3db-2a3cf4dde3f7\"\n        }\n    ],\n    \"extraFilters\": [\n        {\n            \"type\": \"WLAN\",\n            \"value\": \"1\"\n        }\n    ],\n    \"extraNotFilters\": [\n        {\n            \"type\": \"MONITORINGENABLED\",\n            \"value\": \"true\"\n        }\n    ],\n    \"attributes\": [\n        \"Bytes\",\n        \"tx+rx\"\n    ],\n    \"extraTimeRange\": {\n        \"start\": currrentTime,\n        \"end\": currrentTime + 3600000,\n        \"interval\": 180000\n    },\n    \"options\": {},\n    \"limit\": 10,\n    \"page\": 1\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["256a842.21f3a7c"]]},{"id":"256a842.21f3a7c","type":"http request","z":"64ff871a.d30708","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":280,"wires":[["e6ce3fb6.3825"]]},{"id":"e6ce3fb6.3825","type":"function","z":"64ff871a.d30708","name":"get  traffic data","func":"//node.warn(msg.payload.list[19])\nmsg.payload = msg.payload.list[19].value;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["27c62c4c.efff14"]]},{"id":"27c62c4c.efff14","type":"ui_chart","z":"64ff871a.d30708","name":"WLAN traffic","group":"af5be4bc.a0b878","order":8,"width":13,"height":7,"label":"WLAN traffic (bytes)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":280,"wires":[[]]},{"id":"9e80b34b.1ed4","type":"inject","z":"64ff871a.d30708","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"3","x":190,"y":340,"wires":[["15a7abe4.58ddf4"]]},{"id":"15a7abe4.58ddf4","type":"function","z":"64ff871a.d30708","name":"get client count","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\");\nvar zoneID = global.get(\"zoneID\");\nvar wlanID = global.get(\"wlanID\");\n// var currrentTime = msg.payload + 26260660 + 360000 + 180000;\nvar currrentTime = msg.payload;\n//node.warn(msg.payload);\n\nvar url = szAddress + \"/wsg/api/public/v9_0/trafficAnalysis/line/aggclients/wlan?serviceTicket=\" + serviceTicket;\nmsg.url = url;\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'};\n\nmsg.payload = {\n    \"filters\": [\n        {\n            \"type\": \"DOMAIN\",\n            \"value\": \"8b2081d5-9662-40d9-a3db-2a3cf4dde3f7\"\n        }\n    ],\n    \"extraFilters\": [\n        {\n            \"type\": \"WLAN\",\n            \"value\": \"1\"\n        }\n    ],\n    \"extraNotFilters\": [\n        {\n            \"type\": \"MONITORINGENABLED\",\n            \"value\": \"true\"\n        }\n    ],\n    \"extraTimeRange\": {\n        \"start\": currrentTime,\n        \"end\": currrentTime + 3600000,\n        \"interval\": 180000\n    },\n    \"options\": {},\n    \"limit\": 10,\n    \"page\": 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["d27cf0c.f3fc91"]]},{"id":"d27cf0c.f3fc91","type":"http request","z":"64ff871a.d30708","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"46047f06.5cc0c","persist":false,"proxy":"","authType":"","x":670,"y":340,"wires":[["4c1feaa9.f2e414"]]},{"id":"4c1feaa9.f2e414","type":"function","z":"64ff871a.d30708","name":"get  client count","func":"node.warn(msg.payload.list[19])\nmsg.payload = msg.payload.list[19].value;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["22c3e2c8.d50bee"]]},{"id":"22c3e2c8.d50bee","type":"ui_chart","z":"64ff871a.d30708","name":"Client count","group":"af5be4bc.a0b878","order":9,"width":13,"height":7,"label":"Client count","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":340,"wires":[[]]},{"id":"46047f06.5cc0c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"af5be4bc.a0b878","type":"ui_group","z":"","name":"SmartZone","tab":"8efc8f46.046b3","order":1,"disp":true,"width":26,"collapse":true},{"id":"8efc8f46.046b3","type":"ui_tab","z":"","name":"SmartZone","icon":"dashboard","order":1,"disabled":false,"hidden":false}]