SmartZone GUI/SmartZone 1.2 GUI.json
[{"id":"abc4e228.40c78","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"901b6463.af9928","type":"ui_form","z":"abc4e228.40c78","name":"","label":"","group":"bc44798.097ff88","order":7,"width":0,"height":0,"options":[{"label":"Temp","value":"Temp1","type":"checkbox","required":true,"rows":null},{"label":"Temp","value":"Temp2","type":"checkbox","required":true,"rows":null}],"formValue":{"Temp1":false,"Temp2":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":470,"y":260,"wires":[["732f6a4c.4213b4"]]},{"id":"732f6a4c.4213b4","type":"debug","z":"abc4e228.40c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":260,"wires":[]},{"id":"af7e9c20.33d02","type":"ui_button","z":"abc4e228.40c78","name":"","group":"bc44798.097ff88","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ok","payloadType":"str","topic":"","x":70,"y":260,"wires":[["51eba9b6.07d478"]]},{"id":"51eba9b6.07d478","type":"function","z":"abc4e228.40c78","name":"","func":"msg.payload.Temp1 = true;\nmsg.payload.Temp2 = true;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["901b6463.af9928"]]},{"id":"bc44798.097ff88","type":"ui_group","z":"","name":"Default","tab":"b3f6bfb1.8ef77","disp":true,"width":"6","collapse":false},{"id":"b3f6bfb1.8ef77","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]