mqtt Pre-engine API/crowd detection.json
[{"id":"e754637a.afc6f","type":"tab","label":"Crowd detection","disabled":false,"info":""},{"id":"74bd184f.5a2d48","type":"subflow","name":"Execute Shell Script","info":"","in":[{"x":40,"y":100,"wires":[{"id":"194ea9e4.1b91c6"}]}],"out":[{"x":1580,"y":100,"wires":[{"id":"49204afc.f1b254","port":0}]},{"x":1580,"y":160,"wires":[{"id":"49204afc.f1b254","port":1}]},{"x":1580,"y":220,"wires":[{"id":"49204afc.f1b254","port":2}]}]},{"id":"1e0e7217.16bf1e","type":"subflow","name":"ILO Token","info":"","category":"","in":[{"x":80,"y":140,"wires":[{"id":"d9424994.961a18"}]}],"out":[{"x":640,"y":140,"wires":[{"id":"a85f3ace.e3d2c8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ecdfc8e9.e4fe48","type":"subflow","name":"Alexa","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"3f0c842f.7640ac","port":0}]},{"x":580,"y":160,"wires":[{"id":"3f0c842f.7640ac","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":680,"y":120,"wires":[{"id":"3f0c842f.7640ac","port":0},{"id":"3f0c842f.7640ac","port":1}]}},{"id":"82dc65a9.0350f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4baf255d.26cd0c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"5f1c7b81.5ee3c4","type":"ui_tab","z":"","name":"World map","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"713a18e5.c34978","type":"ui_group","z":"","name":"map","tab":"5f1c7b81.5ee3c4","order":1,"disp":true,"width":20,"collapse":false},{"id":"4ddf0b78.96d664","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"9dcf57ce.69a9e8","type":"mqtt-broker","z":"","name":"","broker":"10.0.0.82","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88c5a725.80b5d8","type":"file","z":"74bd184f.5a2d48","name":"Write script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":640,"y":40,"wires":[[]]},{"id":"6eca2f5b.d2cf3","type":"exec","z":"74bd184f.5a2d48","command":"mktemp","addpay":false,"append":"","useSpawn":"false","timer":"","name":"","x":320,"y":100,"wires":[[],["11afc8b.f46e037"],[]]},{"id":"59f71780.97e118","type":"file","z":"74bd184f.5a2d48","name":"Delete script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1540,"y":40,"wires":[[]]},{"id":"49204afc.f1b254","type":"exec","z":"74bd184f.5a2d48","command":" sh ","addpay":true,"append":"","useSpawn":"","timer":"","name":"Execute the shell script","x":1250,"y":100,"wires":[["59f71780.97e118"],[],[]]},{"id":"a1f4e762.a57048","type":"exec","z":"74bd184f.5a2d48","command":"chmod +x ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":820,"y":100,"wires":[[],["864a8db5.778f4"],[]]},{"id":"194ea9e4.1b91c6","type":"change","z":"74bd184f.5a2d48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":100,"wires":[["6eca2f5b.d2cf3"]]},{"id":"5d2eb3cb.cc136c","type":"change","z":"74bd184f.5a2d48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["a1f4e762.a57048"]]},{"id":"11afc8b.f46e037","type":"function","z":"74bd184f.5a2d48","name":"trim file","func":"msg.filename = msg.payload.trim();\nmsg.payload = msg.command;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["88c5a725.80b5d8","5d2eb3cb.cc136c"]]},{"id":"864a8db5.778f4","type":"change","z":"74bd184f.5a2d48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":100,"wires":[["49204afc.f1b254"]]},{"id":"c2df668b.5bc908","type":"comment","z":"74bd184f.5a2d48","name":"Execute shell script","info":"Execute the shell script in msg.payload.","x":130,"y":40,"wires":[]},{"id":"572a497d.ed3ef8","type":"http request","z":"1e0e7217.16bf1e","name":"Request","method":"POST","ret":"txt","paytoqs":false,"url":"https://ilo/redfish/v1/SessionService/Sessions","tls":"4baf255d.26cd0c","persist":false,"proxy":"","authType":"","x":360,"y":140,"wires":[["a85f3ace.e3d2c8"]]},{"id":"d9424994.961a18","type":"function","z":"1e0e7217.16bf1e","name":"Set Header","func":"msg.headers = {};\nmsg.headers={\n    'Content-Type': 'text/plain'\n}\n\nmsg.payload = {};\nmsg.payload={ \n    'UserName': 'ADMIN',\n    'Password': 'ADMIN'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":140,"wires":[["572a497d.ed3ef8"]]},{"id":"a85f3ace.e3d2c8","type":"change","z":"1e0e7217.16bf1e","name":"_TOKEN","rules":[{"t":"set","p":"headers[\"x-auth-token\"]","pt":"msg","to":"_TOKEN","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[[]]},{"id":"3f0c842f.7640ac","type":"switch","z":"ecdfc8e9.e4fe48","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":120,"wires":[[],[]]},{"id":"d17e3e43.dd759","type":"inject","z":"e754637a.afc6f","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"","x":110,"y":900,"wires":[["a77390c2.32ad3"]]},{"id":"a77390c2.32ad3","type":"function","z":"e754637a.afc6f","name":"draw crowd circle","func":"//the circle radius is the RSSI average in a time period\n//the circle color is the number of clients in a time period\n\nvar radius = global.get(\"avgRssi\");\nnode.warn(\"Average RSSI: \" + radius)\nmsg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nmsg.payload.lat = global.get(\"latitude\")\nmsg.payload.lon = global.get(\"longitude\")\nmsg.payload.name = \"H510\"\nmsg.payload.icon = \"universal-access\";\nmsg.payload.iconColor = \"white\";\nmsg.payload.radius = radius\nmsg.payload.fillOpacity = 0.5\n\nnumClient = global.get(\"numClient\")\nswitch (true) {\n  case (numClient <= 3 && numClient > 0):\n    msg.payload.fillColor = \"green\";\n    msg.payload.color = \"green\";\n    msg.payload.fillOpacity = 0.2\n    node.warn(\"green\")\n    break;\n  case (numClient <= 6 && numClient > 3):\n    msg.payload.fillColor = \"yellow\";\n    msg.payload.fillOpacity = 0.2\n    msg.payload.color = \"yellow\";\n    node.warn(\"yellow\")\n    break;\n  case (numClient <= 20 && numClient > 6):\n    msg.payload.fillColor = \"orange\";\n    msg.payload.color = \"orange\";\n    msg.payload.fillOpacity = 0.2\n    node.warn(\"orange\")\n    break;\n  case (numClient <= 30 && numClient > 20):\n    msg.payload.fillColor = \"red\";\n    msg.payload.fillOpacity = 0.5\n    msg.payload.color = \"red\";\n    node.warn(\"red\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["c69b2561.66c668"]]},{"id":"c69b2561.66c668","type":"worldmap","z":"e754637a.afc6f","name":"","lat":"37.414850","lon":"-121.954762","zoom":"18","layer":"OSM","cluster":"","maxage":"","panit":"false","hiderightclick":"false","coords":"none","path":"","x":630,"y":900,"wires":[]},{"id":"47ea1732.a2d578","type":"ui_worldmap","z":"e754637a.afc6f","group":"713a18e5.c34978","order":1,"width":20,"height":15,"name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":620,"y":960,"wires":[]},{"id":"7fa9ac22.a4d204","type":"inject","z":"e754637a.afc6f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":120,"wires":[["b4819be0.62dbf8"]]},{"id":"3b23bb42.90b924","type":"http request","z":"e754637a.afc6f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"4ddf0b78.96d664","persist":false,"proxy":"","authType":"","x":630,"y":120,"wires":[["7b40c3ea.4a089c"]]},{"id":"b4819be0.62dbf8","type":"function","z":"e754637a.afc6f","name":"get service ticket","func":"// global variables and values\n\nglobal.set(\"szAddress\", \"https://10.0.0.32:8443\");\n\nvar szAddress = global.get(\"szAddress\");\n\n//API call to get service token\nmsg.url = szAddress.concat(\"/wsg/api/public/v8_1/serviceTicket\");\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nmsg.payload = {\n    \"username\":\"admin\",\n    \"password\":\"ruckus123!\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["3b23bb42.90b924"]]},{"id":"7b40c3ea.4a089c","type":"function","z":"e754637a.afc6f","name":"save service ticket","func":"var response = msg.payload;\n\nglobal.set(\"serviceTicket\", response.serviceTicket);\nglobal.set(\"controllerVersion\", response.controllerVersion);\n//node.warn(response.serviceTicket)\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["c6a917d4.8474d8"]]},{"id":"c6a917d4.8474d8","type":"debug","z":"e754637a.afc6f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1110,"y":120,"wires":[]},{"id":"9a5a3839.86df58","type":"inject","z":"e754637a.afc6f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"4","x":130,"y":240,"wires":[["7656c9f3.85ca58"]]},{"id":"7656c9f3.85ca58","type":"function","z":"e754637a.afc6f","name":"get AP configuration","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\nvar apMAC = global.get(\"apMac\")\n\n//API call to get service token\nvar url = szAddress + \"/wsg/api/public/v9_0/aps/\" + apMAC + \"?serviceTicket=\" + serviceTicket\nmsg.url = url;\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nreturn msg;\n\n\n//wsg/api/public/v9_0/aps?serviceTicket={{serviceTicket}}","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["b5c5a6b3.dc7d18"]]},{"id":"b5c5a6b3.dc7d18","type":"http request","z":"e754637a.afc6f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"4baf255d.26cd0c","persist":false,"proxy":"","authType":"","x":630,"y":240,"wires":[["b1ae22e4.c8aa6"]]},{"id":"b1ae22e4.c8aa6","type":"function","z":"e754637a.afc6f","name":"get gps coordinates","func":"global.set(\"latitude\", msg.payload.latitude);\nglobal.set(\"longitude\", msg.payload.longitude);\n\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":240,"wires":[["54275ca1.458e74"]]},{"id":"54275ca1.458e74","type":"debug","z":"e754637a.afc6f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1110,"y":240,"wires":[]},{"id":"2cb45aac.f4c696","type":"inject","z":"e754637a.afc6f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":130,"y":180,"wires":[["ec3e7901.ffb538"]]},{"id":"ec3e7901.ffb538","type":"function","z":"e754637a.afc6f","name":"get APs","func":"var szAddress = global.get(\"szAddress\");\nvar serviceTicket = global.get(\"serviceTicket\")\n\n//API call to get service token\nvar url = szAddress + \"/wsg/api/public/v9_0/aps?serviceTicket=\" + serviceTicket\nmsg.url = url\n//node.warn(msg.url);\n\nmsg.headers = {\n    'content-type':'text/plain',     \n    'Cookie': 'JSESSIONID=nDwPdk0IUbCKkhZRzHf2e4Sksie9wMZE'}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["95de7cab.12a07"]]},{"id":"95de7cab.12a07","type":"http request","z":"e754637a.afc6f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"4baf255d.26cd0c","persist":false,"proxy":"","authType":"","x":630,"y":180,"wires":[["98292fc3.fa044"]]},{"id":"98292fc3.fa044","type":"function","z":"e754637a.afc6f","name":"get AP mac","func":"global.set(\"apMac\", msg.payload.list[0].mac);\n//node.warn(msg.payload.list[0]);\nmsg.payload = msg.payload.list\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["5aa074af.53a1bc"]]},{"id":"5aa074af.53a1bc","type":"debug","z":"e754637a.afc6f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1110,"y":180,"wires":[]},{"id":"53fca2ec.10a01c","type":"mqtt out","z":"e754637a.afc6f","name":"","topic":"3.0/LOC/nodered/LS/MGQ","qos":"","retain":"","broker":"9dcf57ce.69a9e8","x":480,"y":440,"wires":[]},{"id":"9f833ea3.c1d5d","type":"inject","z":"e754637a.afc6f","name":"send MGQ for controller info","topic":"","payload":"[1,1]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":440,"wires":[["53fca2ec.10a01c"]]},{"id":"795ceb6a.ccc584","type":"mqtt in","z":"e754637a.afc6f","name":"","topic":"#","qos":"2","datatype":"auto","broker":"9dcf57ce.69a9e8","x":90,"y":780,"wires":[["ab82dd8b.53e29"]]},{"id":"ab82dd8b.53e29","type":"function","z":"e754637a.afc6f","name":"decode MQTT message","func":"function sliceBuf(buf, start, end) {\n    return buf.slice(start,end).readInt32BE();\n}\n\n\nif (msg.topic.endsWith(\"MGR\")){\n    if (msg.payload[0]== 2 && msg.payload[1]== 1){\n        var bytes = msg.payload.slice(4,68)\n        var result = \"\"\n        for (var i = 0; i < bytes.length; i++) {\n            result += String.fromCharCode(parseInt(bytes[i]));\n        }\n        node.warn(\"Controller name: \" + result)\n        bytes = msg.payload.slice(68,84)\n        result = \"\"\n        for (i = 0; i < bytes.length; i++) {\n            result += String.fromCharCode(parseInt(bytes[i]));\n        }\n        node.warn(\"API version: \" + result)\n        bytes = msg.payload.slice(84,100)\n        result = \"\"\n        for (i = 0; i < bytes.length; i++) {\n            result += String.fromCharCode(parseInt(bytes[i]));\n        }\n        node.warn(\"Controller version: \" + result)\n    }\n    else{\n        if (msg.payload[0]== 2 && msg.payload[1]== 7){\n        bytes = msg.payload.slice(4,6)\n        var qtdeVenues = bytes.readInt16BE()\n        result = \"\"\n        //node.warn(qtdeVenues)\n        for (i= 0; i < qtdeVenues; i++){\n                    bytes= msg.payload.slice(6+(16*i),22+(16*i))\n                    for (var j = 0; j < bytes.length; j++) {\n                        result += String.fromCharCode(parseInt(bytes[j]))\n                    }\n            node.warn(\"Venue name: \" + result)\n            result=\"\"\n            }\n        }\n    }\n}\n\nif (msg.topic.endsWith(\"PAR\")){\n    \n    //get timestamp\n    msg.sliced = sliceBuf(msg.payload,4,8);\n    var dt = new Date(msg.sliced * 1000);\n    //node.warn(\"Timestamp: \" + dt)\n    \n    //get AP mac address\n    var apMac = msg.payload[12].toString(16).padStart(2, '0') +\n    \":\" + msg.payload[13].toString(16).padStart(2, '0') +\n    \":\" + msg.payload[14].toString(16).padStart(2, '0') + \n    \":\" + msg.payload[15].toString(16).padStart(2, '0') + \n    \":\" + msg.payload[16].toString(16).padStart(2, '0') +\n    \":\" + msg.payload[17].toString(16).padStart(2, '0')\n    //node.warn(\"AP mac address: \" + apMac)\n    \n    //get radio band\n    if (msg.payload[18]===1){\n    //    node.warn(\"Band: 2.4Ghz\")\n    }\n    else{\n    //    node.warn(\"Band: 5Ghz\")    \n    }\n    \n    //get air utilization\n    //node.warn(\"Air Utilization: \" + msg.payload[19] + \"%\")\n    \n    //get number of clients\n    var numClient = msg.payload.slice(20,22).readInt16BE();\n    global.set(\"numClient\", numClient);\n    //node.warn(\"Number of clients: \" + numClient)\n\n    //get mac address, RSSI and SNR for each client\n    var i;\n    var sumRssi = 0;\n    var avgRssi = 0;\n    for (i = 0; i < numClient; i++) {\n        var clientMac = msg.payload[22+(11*i)].toString(16).padStart(2, '0') +\n        \":\" + msg.payload[23+(11*i)].toString(16).padStart(2, '0') +\n        \":\" + msg.payload[24+(11*i)].toString(16).padStart(2, '0') +\n        \":\" + msg.payload[25+(11*i)].toString(16).padStart(2, '0') +\n        \":\" + msg.payload[26+(11*i)].toString(16).padStart(2, '0') +\n        \":\" + msg.payload[27+(11*i)].toString(16).padStart(2, '0')\n        var rssi1 = msg.payload[29+(11*i)]-256;\n        var rssi2 = msg.payload[30+(11*i)]-256;\n        var rssi3 = msg.payload[31+(11*i)]-256;\n        var snr = msg.payload[32+(11*i)]-256;\n        //node.warn(\"Client mac address: \" + clientMac)\n        //node.warn(\"RSSI-1: \" + rssi1)\n        //node.warn(\"RSSI-2: \" + rssi2)        \n        //node.warn(\"RSSI-3: \" + rssi3)\n    //    node.warn(\"SNR: \" + snr)\n        sumRssi = sumRssi + rssi1 + rssi2;\n    }\n    avgRssi = sumRssi / (numClient * -2)\n    global.set(\"avgRssi\", avgRssi);\n    //node.warn(\"Average RSSI: \" + avgRssi)\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":780,"wires":[["1ed6d675.90272a"]]},{"id":"1ed6d675.90272a","type":"debug","z":"e754637a.afc6f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":780,"wires":[]},{"id":"c078143b.edbf78","type":"mqtt out","z":"e754637a.afc6f","name":"","topic":"3.0/LOC/nodered/LS/MGQ","qos":"","retain":"","broker":"9dcf57ce.69a9e8","x":480,"y":500,"wires":[]},{"id":"cf9da448.8293c8","type":"inject","z":"e754637a.afc6f","name":"send MGQ for venue info","topic":"","payload":"[1,7]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":500,"wires":[["c078143b.edbf78"]]},{"id":"9c56d52a.e32168","type":"mqtt out","z":"e754637a.afc6f","name":"","topic":"3.0/LOC/nodered/LS/PAQ","qos":"","retain":"","broker":"9dcf57ce.69a9e8","x":470,"y":560,"wires":[]},{"id":"8683b6af.f91178","type":"inject","z":"e754637a.afc6f","name":"send PAQ for 2.4GHz","topic":"","payload":"[3,1,0,7,10,0,1,1,0,0,0]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":560,"wires":[["9c56d52a.e32168"]]},{"id":"c969948b.3aff28","type":"mqtt out","z":"e754637a.afc6f","name":"","topic":"3.0/LOC/nodered/LS/PAQ","qos":"","retain":"","broker":"9dcf57ce.69a9e8","x":470,"y":620,"wires":[]},{"id":"dd7bee63.58ae","type":"inject","z":"e754637a.afc6f","name":"send PAQ for 5GHz","topic":"","payload":"[3,1,0,7,10,0,1,2,0,0,0]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":620,"wires":[["c969948b.3aff28"]]},{"id":"6cb6529e.79932c","type":"comment","z":"e754637a.afc6f","name":"REST API calls to SZ to retrieve the AP GPS coordinates","info":"","x":250,"y":80,"wires":[]},{"id":"d3f147d0.b5c4a8","type":"comment","z":"e754637a.afc6f","name":"MQTT outbound flows from local mosquitto","info":"","x":210,"y":320,"wires":[]},{"id":"a7a5415a.30185","type":"comment","z":"e754637a.afc6f","name":"MQTT inbound flow to local mosquitto","info":"","x":190,"y":700,"wires":[]},{"id":"df2e816f.38616","type":"comment","z":"e754637a.afc6f","name":"Flow to position the AP in the map and draw a circle around it","info":"","x":260,"y":860,"wires":[]},{"id":"2aa96496.57affc","type":"comment","z":"e754637a.afc6f","name":"for using the regular /ui nodered dashboard. Please install node-red-contrib-web-worldmap","info":"","x":1060,"y":960,"wires":[]},{"id":"770a0e44.05947","type":"comment","z":"e754637a.afc6f","name":"for using the /worldmap dashboard","info":"","x":880,"y":900,"wires":[]},{"id":"1748168c.1eca99","type":"comment","z":"e754637a.afc6f","name":"The inject nodes contain the byte payload for each MGQ or PAQ message","info":"","x":300,"y":360,"wires":[]},{"id":"d53314.bdc57cf","type":"comment","z":"e754637a.afc6f","name":"The \"mqtt out\" nodes contain the local mosquitto ip address and topic","info":"","x":290,"y":400,"wires":[]},{"id":"4e6bac3f.a3aa94","type":"comment","z":"e754637a.afc6f","name":"The \"mqtt in\" node subscribes to all topics \"#\" in the local mosquitto","info":"","x":280,"y":740,"wires":[]},{"id":"ea35a8ec.e7af48","type":"comment","z":"e754637a.afc6f","name":"read file \"how to install the local mosquitto broker\" for details","info":"","x":617,"y":321,"wires":[]}]